<h1>Your Clients <%= @Client.name() %> </h1>

<form action="/client" method="post">
  <input id="id" name="id" type="hidden" value="<%= @client.id() %>">

  <label for="description">Description of the tracker:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add tracker</button>
</form>

<% if @Client.tracks().any?() %>
<h3>Here are all the tracks in this Tracker:</h3>

<ul>
  <% @Tracker.tracks().each() do |tracker| %>
  <li><%= tracker.description() %></li>
  <% end %>

</ul>
<% else %>
<p>There are no tracks yet!</p>
<% end %>

<a href="/">Return to Main Page</a>
