<h1>U.S. Hairlines</h1>

<form action="/stylists" method="post">
  <label for="name">STYLIST:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add</button>
</form>

<% if @stylists.any?() %>
  <br><p>Click on a stylist to view their clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stylists yet!</p>
<% end %>
