<h1>Hair Salon</h1>

<p>Today's Stylists:</p>

<form action="/stylist" method="post">
  <label for="name">The Stylists:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add</button>
</form>

<% if @stylist.any?() %>
<p>Click to view your clients:</p>

<ul>
  <% @stylist.each do |stylist| %>
  <li><a href="/stylist/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no clients yet!</p>
<% end %>
