<h1>Connect <%= @stylist.name() %> </h1>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="description">Description of the client:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add client</button>
</form>

<% if @stylist.clients().any?() %>
<h3>Here are all the clients:</h3>

<ul>
  <% @stylist.clients().each() do |client| %>
  <li><%= client.description() %></li>
  <% end %>

</ul>
<% else %>
<p>There are no clients yet!</p>
<% end %>

<a href="/">Return to Main Page</a>
